<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

	{{ partial "header.html" . }}
	<body>

	{{ "<!-- Wrapper -->" | safeHTML }}
		<div id="wrapper">

			{{ partial "nav.html" . }}


		{{ "<!-- Main -->" | safeHTML }}					

					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Our Mission</h1>
									</header>

									<!-- Content -->
										<h2 id="content"><p>To connect youth from strife-torn region to opportunities and mentors across the world.
										We aim to build a global network of solidarity between youths around the world and bolster peace, harmony and amplify the voice of positivity.
										</p>
								        </h2>

											<div class="row">
											<div class="6u 12u$(small)">
												<h3>The Problem</h3>
												<p>The Internet today has become a hotspot for extremist outfits to recruit new members and spread hate. Over the last decade, there has been increase in the amount of extremist outfits using Internet to spew hatred and recruit vulnerable youth in strife-torn region around the world</p>
											</div>
											<div class="6u$ 12u$(small)">
												<h3>The Cause</h3>
												<p>Drawing lessons from various researches on the recruitment strategies of these orginzations from a psychological perspective, Arie Kruglanski, a cognitive psychology reaseacher at MIT suggests that the <em>“appeal of violent extremism derives from a clever exploitation of two basic human needs: the need for cognitive closure and the need for personal significance.” <a href="http://www.start.umd.edu/news/dr-arie-kruglanski-discusses-psychology-behind-terrorist-recruitment">[1]</a> </em>
												</p>
											</div>

											<!-- Break -->
											<h4 id="content"><p>Extremist groups offer a cause to join. Ideology is very important but it is also about how people feel about the society they live in, according to experts. The appeal doesn’t begin with violence. It begins with doing something significant, focusing on being someone important. Once a young adult buys in big time, they’re willing to take extreme measures on behalf of the cause. They want to prove they belong.
											</p>
								            </h4>
								            <h3 id="content">One of the biggest challenge that we are trying to  solve is giving these youth the opportunity to invest their life in something big. Read below to understand how we tackle this challenge</h3>
											<div class="4u 12u$(medium)">
												<h3>Engaging them through our Chatbot</h3>
												<p>By running social media campaigns which are highly targeted to the demographics of strife-torn region, we plan to onboard them onto our bot and further enage them</p>
											</div>
											<div class="4u 12u$(medium)">
												<h3>Mentorship and Guidance</h3>
												<p>We plan to bridge the gap between and provide them a platform to talk to mentors and highly successful people from their community or background in real time. If you would like to join our Mentor network. <a href="https://youthsquad.network/join-as-a-mentor">Click Here</a>.
												</p>
											</div>
											<div class="4u$ 12u$(medium)">
												<h3>Upskilling and Opportunities</h3>
												<p>
													With the advent of technology and internet, it has become easier than ever to find meaningful work and start online businesses and contribute in making this world a better place. By leveraging the free resources and connecting them with digital opportunities, we believe we can directly improve their life.
												</p>
											</div>
										</div>
								</div>
							</section>

				{{ if .Site.Params.Tiles.enable }}
					{{ partial "tile.html" . }}
				{{ end }}

							{{ if .Site.Params.Two.enable }}
					{{ partial "two.html" . }}
				{{ end }}

				
		{{ "<!-- Contact -->" | safeHTML}}
			{{ if .Site.Params.Contact.enable }}
				{{ partial "contact.html" . }}
			{{ end }}

		{{ "<!-- Footer -->" | safeHTML}}
			{{ if .Site.Params.Footer.enable }}
				{{ partial "footer.html" . }}
			{{ end }}

					</div>


	{{ "<!-- Scripts -->" | safeHTML}}
		{{ partial "js.html" . }}

	</body>
</html>